/* Fonts */
@font-face {
  font-family: BrownPro-Regular;
  src: url(https://cdn.shopify.com/s/files/1/2386/2119/t/12/assets/9174752b3cd969fd64f176be83a58f5a.woff); 
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: BrownPro-Bold;
  src: url(https://cdn.shopify.com/s/files/1/2386/2119/t/12/assets/c4c6db81881cbfaebb2282dcb4262001.woff);
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}


/* Global styles */
* {
  box-sizing: border-box;
}

:root {
  --star-width: 19px;
}

body,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Nav header */
nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "BrownPro-Bold", Arial, sans-serif;
  padding: 0 16px 0 30px;
  margin-bottom: 60px;
}

.navbar-left {
  flex: 2;
}

.navbar-left li {
  display: inline-block;
}

.navbar-left li:first-child {
  padding-right: 10px;
}

.nav-item {
  color: #514f4e;
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.navbar-left .nav-item:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(45%,-25%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(https://cdn.shopify.com/s/files/1/2386/2119/t/12/assets/chevron_down_black.svg);
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-logo {
  background: no-repeat;
  background-position: 50%;
  width: 167px;
  height: 18px;
  background-image: url(./images/logo-green.svg);
}

.navbar-right {
  flex-direction: row;
  align-items: center;
  flex: 2;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cart-link {
  display: flex;
  align-self: center;
  align-items: center;
}

.cart-counter {
  margin-left: 10px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  border: solid 1px #514f4e;
}


/* Breadcrumbs */
main,
.breadcrumbs {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.breadcrumbs {
  font-family: "BrownPro-Regular", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li a {
  text-decoration: none;
  position: relative;
  color: #514f4e;
  padding-right: 30px;
}

.breadcrumbs li.breadcrumb-past a:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(52%,-63%) rotate(270deg) scale(0.8);
  filter: brightness(1.75);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(https://cdn.shopify.com/s/files/1/2386/2119/t/12/assets/chevron_down_black.svg);
}

.breadcrumbs li.breadcrumb-past a:hover {
  text-decoration: underline;
}

.breadcrumbs li.breadcrumb-current a {
  cursor: none;
  color: #909ba5;
}

main {
  border: solid 1px red;
  font-family: 'BrownPro-Regular', Arial, sans-serif;
  display: flex;
  color: #514f4e;
}

.picture-section {
  width: 35%;
}

.main-image {
  width: auto;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel {
  border: solid 1px red;
  position: relative;
}

.carousel-control,
.carousel-track {
  display: inline-block;
}

.carousel-track {
  display: flex;
  overflow-x: hidden;
  border: solid 1px green;
  width: calc(100% - 130px);
  margin: 0 auto;
}

.carousel-control {
  position: absolute;
  z-index: 10;
  top: 30px;
}

.carousel-control:last-child {
  right: 0;
}

.carousel-track li {
  display: inline-block;
  margin-right: 12px;
}

.carousel-track li:last-child {
  margin-right: 0;
}

.carousel-track li img {
  width: 80px;
  border: solid 2px #e3e3e3;
  cursor: pointer;
}

.carousel-track li img.selected {
  border: solid 2px #29c95e;
}

.playkit-details {
  width: 65%;
  margin-left: 26px;
}

.main-image {
  width: 100%;
}



.playkit-title {
  font-family: 'BrownPro-Bold', Arial, sans-serif;
  margin: 22px 0;
}

.playkit-metadata {
  display: flex;
  align-items: flex-start;
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-bottom: solid 1px #e3e3e3;
}

.divider {
  width: 1px;
  border-right: solid 1px #e3e3e3;
  margin: 0px 14px;
}

.review-stars,
.review-count {
  vertical-align: middle;
}

.review-stars {
  position: relative;
  display: inline-block;
}

.review-stars-full-overlay[data-stars="0"] {
  width: calc(var(--star-width) * 0);
}
.review-stars-full-overlay[data-stars="1"] {
  width: calc(var(--star-width) * 1);
}
.review-stars-full-overlay[data-stars="2"] {
  width: calc(var(--star-width) * 2);
}
.review-stars-full-overlay[data-stars="3"] {
  width: calc(var(--star-width) * 3);
}
.review-stars-full-overlay[data-stars="4"] {
  width: calc(var(--star-width) * 4);
}
.review-stars-full-overlay[data-stars="5"] {
  width: calc(var(--star-width) * 5);
}

.review-stars-full-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: url(./images/stars-full.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.review-count {
  color: #4edcca;
  font-size: 14px;
  display: inline-block;
}

.review-count,
.suitable-info,
.subscription-type {
  line-height: 20px;
}

.subscription-type a {
  color: #6e8af5;
  text-decoration: none;
}


.playkit-desc {
  font-size: 18px;
  line-height: 27px;
  padding-right: 10%;
  margin-bottom: 10px;
}

.playkit-pricing {
  font-weight: bold;
}

.playkit-selection {
  display: grid;
  grid-template-columns: 30% 30% 175px;
  grid-column-gap: 20px;
  margin: 22px 0;
  align-items: flex-end;
  padding-right: 22px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

#child-name,
#calendar {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border: solid 1px #929292;
  outline: none;
  padding-left: 16px;
}

#subscribe-cta {
  height: 50px;
  background-color: #29c95f;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 16px 0;
  font-size: 18px;
}

.value-props {
  font-weight: bold;
}

.value-props li {
  display: inline-block;
  margin-right: 18px;
}

.value-props li:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #29c95e;
  margin-right: 8px;
}

.awards {
  margin-top: 40px;
}

.awards .awards-image {
  width: 410px;
}